<div class="post me-5 ms-5 mt-2 p-3 shadow-lg">
    <div class=" pe-3 ps-3 pt-4 pb-4">

        <button (click)="goToPostEditor()" class=" my-shadow border-dark btn btn-success mb-5 me-2">
            Редактировать
        </button>
        <button *ngIf="status == postStatus.Pending" (click)="publishPost()"
                class=" my-shadow border-dark btn btn-success mb-5 me-2">
            Опубликовать
        </button>
        <button *ngIf="status == postStatus.Pending" (click)="rejectPost()" class="my-shadow border-dark btn btn-success mb-5 me-2">
            Отклонить
        </button>
        <button (click)="deletePost()" class="my-shadow border-dark btn btn-danger mb-5">Удалить</button>
        <div class="post-meta mb-4">Автор:
            <a class="link-primary" role="button" (click)="goToPostsByAccountId()">{{post?.accountLogin}}</a>
            <br/>
            {{post?.lastChange | date}}
        </div>

        <div class=" mb-4">Категория:
            <b class="text-success">{{post?.categoryName}}</b>
        </div>

        <div class="border bg-white">
            <div class="mb-3">
                <h2 class="post-title mb-1">{{post?.title}}</h2>
            </div>
            <div class="fullText me-3 ms-3 mb-5" [innerHTML]="post?.fullText | safeHtml"></div>
        </div>


    </div>
</div>
